.header{
	padding: 15px 5px;
	background-color: lightblue;
	height: 100px;
}

.logo{
	float: left;
}
.logoImg{
	height:90px;
}

.rightHeader{
  position: absolute;
  right: 15px;
  width: 400px;
  height:100px;
}
.navMenu{
	position: absolute;
	left: 0px;
	padding-top:60px;
}

.navItem{
	font-size=5px;
}

li {
    display: inline;
}

.userDiv{
  position: absolute;
  right: 0px;
}

.userPhoto{
  display: block;
  border-radius: 50%;
  height:80px;
}

.body{
	padding-left:50px;
	padding-right:50px;
	padding-top:50px;
	height:1000px;
	background-color: lightgrey;
}